<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Főoldal</title>
</head>
<body>
<form name="register" th:action="@{/upload}" th:object="${semester}" method="post" class="form-signin">

    <script th:inline="javascript">
        $(document).ready(function () {
        $("#semester").change(function () {
        var a = /*[[${name}]]*/;
        if (val == "1") {
        $("#subjects").html("$("#subjects").html("<option value='' disabled selected>Tantárgyak</option><option value='Digitális Alkalmazások'>Digitális Alkalmazások</option><option value='Lineáris Algebra'>Lineáris Algebra</option><option value='Programozási nyelvek 1'>Programozási nyelvek 1</option>");");

        } else if (val == "2") {
        $("#subjects").html("<option value='' disabled selected>Tantárgyak</option><option value='Diszkrét Matematika'>Diszkrét Matematika</option><option value='Adatszerkezetes és algoritmusok'>Adatszerkezetes és algoritmusok</option><option value='Programozási nyelvek 2'>Programozási nyelvek 2</option>");
        }
        });
        });
    </script>


    <div class="mainContainer">
        <div class="divFelvetel">
            <center><h1>Tantárgy felvétele</h1></center>
            <br>
            <center>
                <div th:if="${stream}" class="alert alert-danger"> Már fel vetted ezt a tárgyat </div>
                <div th:if="${stream1}" class="alert alert-danger"> Nem jelölt ki tárgyat.</div>
                <label for="getSemester" id="labelGetSemester">Félév:</label>
                <select name="semester" id="semester" >
                    <option value="" disabled selected>Félév</option>
                    <option value="1">Őszi félév</option>
                    <option value="2">Tavaszi félév</option>
                </select>
                <br>
                <label for="setSubject" id="labelSetSubject">Tantárgyak:</label>
                <select name="subjects" id="subjects" >
                    <option value="" disabled selected>Tantárgyak</option>
                </select>
            </center>
            <center>

                <button type="submit" class="buttonSetSubject" name="save" value="save" >Felvétel </button>
                <br>

                <button type="submit" class="buttonExit" name="exit" value="exit" th:action="@{/logout}" >Kilépés</button>
                <br>
                <button type="submit" class="buttonSetSubject" name="show" value="show" >Felvett tárgyak megjelenítés </button>
            </center>
        </div>


        <div class="divFelvett">
            <center><h1>Felvett tantárgyak</h1></center>
            <center>
                <div class="listContainer">
                    <table>
                        <tr th:each="semester, stat : ${steam1}">
                            <td><span th:text="${semester.subjects}">  </span></td>
                        </tr>
                    </table>
                </div>
            </center>
        </div>
    </div>

</body>
</form>
</html>

